@tailwind base;
@tailwind components;

a,
label,
input,
[role=button] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  grid-template: 
    "header" max-content
    "main" 1fr
    "footer" max-content;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}

.b-lazy.b-loaded {
  opacity: 1;
}

@screen md {
    .md\:grid-cols-auto-1fr {
        grid-template-columns: auto 1fr;
    }
}
@tailwind utilities;